* {
  box-sizing: border-box;
}

body {
  height: 60vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.game-title {
  font-size: 50px;
  font-family: 'Russo One', sans-serif;
  margin: auto;
  font-size: 50px;
  margin: auto;
  margin-bottom: 0;
  color: orangered;
  font-weight: bolder;
}

/* -----------------------Flex Containers---------------- */


.game-board {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  padding-top: 10px;
  cursor: pointer;
}

.controls-wrapper {
  display: flex;
  background-color: #4F6272;
  border-radius: 50px 50px 0 0;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.counters-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  height: 70px;
}

.grid-wrapper {
  align-self: center;
}

.options-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: black solid 1px; */
  align-items: center;
  background-color: #4F6272;
  height: 80px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

/* -----------------------Flex Items---------------- */
.bomb-counter {
  display: flex;
  width: 120px;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  font-size: 40px;
}


.game-counter {
  display: flex;
  width: 125px;
  background-color: white;
  border-radius: 10px;
  height: 70px;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  font-size: 30px;
}

.timer {
  display: inline;
}

.bomb-counter, .game-counter {
  position: relative;
  font-family: 'Inconsolata', monospace;
  color: orangered;
}


#reset {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  outline: none;
}
#reset:active {
  transform: translateX(2px) translateY(3px);
}


.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.grid div {
  display: flex;
  flex-grow: 1;
  background-color: rgba(0,0,0,0.2);
  border: 0.5px solid lightgray;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  
}

/* -----------------------Extra Styling---------------- */

.grid div.bomb {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-weight: lighter;
  color: rgb(120, 120, 120);
  color: transparent;
}
.grid div.bomb-clicked {
  background-image: url(../assets/bomb2.gif);
}


.grid div.cover {
  border: 0.5px solid #E5E8E8 ;
  background-color: rgba(0,0,0,0.2);
  color: transparent; 
  box-shadow: inset 5px 5px 10px #FFF, inset -3px -3px 5px #707B7C; 
}

.grid div.flag {
  background-image: url(../assets/flag.png);
 background-repeat: no-repeat;
 background-size: contain;
}


select {
  font-family: 'Montserrat', sans-serif;
  width: 200px;
  outline: none;
  margin-bottom: 5px;
  height: 30px;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#overlay-box {
  margin: 5% auto;
  width: 600px; 
  height: 80%; 
  background-color: #ffffff; 
  border-radius: 75px;
  text-align: center;
}
#overlay-text {
 padding-top: 30px;
}

#overlay h2 {
  color: red;
  font-family: 'Russo One', sans-serif;
  font-size: 50px;
}

#overlay p {
  font-size: 30px;
}

#new-game {
  width: 300px;
  height: 75px;
  border-radius: 100px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: black;
  border: 2px solid #4F6272;
  transition-duration: 0.3s;
}

#new-game:hover {
  background-color: #4F6272; 
  color: white;
}